<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script>
        var eventSource = new EventSource("/listen")
        
        eventSource.addEventListener("message", function(e) {
          console.log(e.data)
        }, false)
    
        eventSource.addEventListener("online", function(e) {
          // console.log(e.data.color)
          data = JSON.parse(e.data)
          document.querySelector("#clock").innerText = data.clock
        }, true)
    
      </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>Profil użytkownika</h2>
        </div>
        <br>
        <table class="table table-hover table-dark w-auto">
            <tr>
                <td>Imię i nazwisko:</td>
                <td>Piotr Lebelt</td>
            </tr>
            <tr>
                <td>Nr indeksu:</td>
                <td>155243</td>
            </tr>
        </table>

        <div class="row">
            Logged in : <strong>{{session.name}} | <a href="{{ url_for('logout') }}"> Logout</a>
        </div>
        <br><br>
        
    </div>
    <h1>Clock</h1>
    <div id="clock"></div>
</body>

</html>